.menuHorizontal{
text-align: center;
color:blueviolet
}
.titulo{
text-align: center;
color:black
}

.name{
text-align: center;
color:black
}


.maintable{
    margin: auto;
    margin-top: 200px;
    color: rgb(98, 97, 97);
}

.header{
    margin-left: 100px;
    color: rgb(88, 88, 89);
}

.footer{
    text-align: center;
    color: rgb(88, 88, 89);
    margin-top: 100px;
}

.img-conteiner{
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 20px;           
}

 
.img-conteiner img {
  max-width: 400px;         
  width: 100%;             
  height: auto;          
  border-radius: 8px;      
}
